[PIPE_INFO]
;-------------------------------------------
;initial  initial
; ID    N       h       Q
;-------------------------------------------
0    200   0.00   0.00
1    200   0.00   0.00

[JUNCTION_INFO];-------------------------------------------------------------------------------------
;{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}|
;ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 |
;------------------------------------------------------------------------------------
0     1     1     1     0     0     1     0     0     0
1     2     1     0     0     0     1     0     0     0
2     1     1     0     1     0     1     0     0     0

[TIME_INFO];---------------------------------------
;T (s)           M        Mi     a  (m/s)
;-----------------------------------------
10.000       200         10        100.0