

[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
  0    200	   0.  0.
  1    200	  .0   0.
  2    100    .0   0.



[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;     		{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}|        
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 | 
;------------------------------------------------------------------------------------
  0      1      1         5         0	   0           1      0	     0		0    
  1    	 3	    1         0         0	   0	       1	  0	     0		0  	
  2    	 1	    1         0         1	   0           1	  0	     0		0  
  3    	 1	    1	      0         1	   0           1	  0	     0		0  
 

[TIME_INFO]
;----------------------------
;T (sec)           M           Mi       
;--------------------------------
;    12 	    1800           50   120
;   24	        2750          10   100
    120	        4000          10   10

;[BC_FILENAME]indata/bcs9.txt
;[BC_FILENAME]indata/bcs8.txt


