

[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
  0    200	   10       1.



[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;     		{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}  |        
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 | 
;------------------------------------------------------------------------------------
  0      1      1	      1     0         0           1      0      0		0    
  2    	 1		1         1     0	       0           1      0	     0		0  

[TIME_INFO]
;----------------------------
;T (sec)           M           Mi       
;--------------------------------
  10	        400	       10     10



