

[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
  0    	100	.014    .0013


; A =0.0006683317 h = 0.014

[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;     		{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}  |        
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 | 
;------------------------------------------------------------------------------------
  0      1      1     0.0013        0	   0           1          0	     0		0    
  1    	 1	    1     0.0000        1	   0	       1	      0	     0		0  	

[TIME_INFO]
;----------------------------
;T (sec)           M           Mi   a    
;-------------------------------------
 30	            9000	       25       9


