

[PIPE_INFO]
;-------------------------------------------
;             initial  initial
; ID    N       h       Q
;-------------------------------------------
;  0    	600	    150    .1 
  0         600     15.557  .01
;I think .28 is a good steady-state value(?)

[JUNCTION_INFO]
;-------------------------------------------------------------------------------------
;     		{-----for junction1s-----} | {--for junction2s--} | {------for junction3s-------}  |        
; ID   	jtype	bvaltype  bval   reflect   | offset   valveopen   | offset01   offset02   offset12 | 
;------------------------------------------------------------------------------------
;  0      1      0     0.1965493129  0	   0           1          0	     0		0    
  0      1      0     0.196369661032  0	   0           1          0	     0		0    
  1    	 1	    1      .0           1	   0	       1	  0	     0		0  	

[TIME_INFO]
;----------------------------
;T (sec)           M           Mi       
;--------------------------------
5	        10000	       20   1200


